.blog {
    max-width: 120rem;
    width: 100%;

    margin: 0 auto 15rem;
}

.blog__header {
    display: flex;

    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 5rem;
}

.blog__list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    column-gap: 4rem;
}