.blog {
    max-width: 120rem;
    width: 100%;

    margin: 0 auto 15rem;
}

.blog__header {
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 5rem;
}