@media (min-width: 1025px) {
    .banner {
        display: grid;

        grid-template-columns: 76rem auto;
    }

    .banner-description {
        padding: 10.2rem 7.9rem 4.3rem 6rem;
    }

    .banner-description__title {
        margin-bottom: 8rem;
    }
}

@media (max-width: 1024px) {
    .banner-description {
        padding: 4rem 2rem 0;
    }

    .banner-description__title {
        margin-bottom: 4rem;
    }
}