html {
    font-size: 10px;
}

.container {
    max-width: 129.6rem;

    margin: 0 auto;
}

.container-max {
    max-width: 144rem;

    margin: 0 auto;
}

.title {
    margin: 0;

    font-size: 6rem;
    font-weight: 700;

    text-transform: uppercase;
    line-height: 1;
}

.title .title_lower {
    font-size: 4.9rem;
    font-weight: 400;
}

.btn {
    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 1.4rem;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    line-height: 1;
}

.btn_rect {
    display: inline-block;

    padding: 1.6rem 2.8rem;

    border-radius: 4rem;

    color: #fff;

    background-color: #000;

    transition: .3s;
}

.btn_rect:hover,
.btn_rect:active {
    opacity: .7;
}

.btn_circle {
    position: relative;

    width: 13.8rem;
    height: 13.8rem;

    color: #fff;

    background-color: #000;

    border-radius: 50%;

    border: .3rem solid #000;

    transition: .3s;

    z-index: 1;
}

.btn_circle::before {
    content: "";

    position: absolute;

    display: block;

    width: 13.8rem;
    height: 13.8rem;

    border-radius: 50%;

    background-color: #000;

    z-index: -1;

    transition: .3s;
}

.btn_circle:hover,
.btn_circle:active {
    background-color: #fff;

    color: #000;
}

.btn_circle:hover::before,
.btn_circle:active::before {
    width: 0rem;
    height: 0rem;
}

.btn_white {
    color: #000;

    background-color: #fff;

    border: .3rem solid #fff;
}

.btn_white::before {
    background-color: #fff;
}

.btn_white:hover,
.btn_white:active {
    background-color: #000;

    color: #fff;
}