@media (min-width: 1025px) {
    .works__list {
        display: grid;

        grid-template-columns: repeat(2, 47rem);
        grid-template-rows: repeat(auto-fit, 10rem);

        gap: 2rem;

        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .works__item:not(:last-child) {
        margin-bottom: 2rem;
    }
}