.fact {
    display: flex;

    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.fact__number {
    margin: .8rem 0 0;

    font-size: 5.3rem;
    font-weight: 700;

    line-height: .9;
}

.fact__text {
    margin: 0;

    font-size: 1.9rem;

    line-height: 1.3;

    color: #747474;
}

.fact__image {
    width: 6rem;
    height: 6rem;
}