.header-description__text {
    color: #747474;

    margin: 0 0 1.6rem;

    font-size: 1.8rem;
    font-weight: normal;
}

.header-description__link {
    margin: 0;

    text-decoration: none;

    color: #000;

    font-size: 1.8rem;
}

.header-description__link:hover,
.header-description__link:active {
    text-decoration: underline;
}