.reviews {
    max-width: 144rem;
    width: 100%;

    margin: 0 auto 9rem;
}

.reviews__title {
    margin-bottom: 11.4rem;

    text-align: center;
}

.reviews__list.swiper {
    padding-bottom: 4rem;
}

.review.swiper-slide-active {
    opacity: 1;
}

.swiper-pagination {
    bottom: 0;
}

.reviews .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
}

.reviews .swiper-pagination-bullet {
    border-radius: 0;

    background-color: rgba(34, 34, 34, 0.4);;
}

.reviews .swiper-pagination-bullet-active {
    background-color: #222222; 
}